:root{
  --hero-photo-size:200px;
}

body { font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }

.hero-photo{
  width: var(--hero-photo-size);
  height: var(--hero-photo-size);
  object-fit: cover;
  border: 8px solid rgb(10, 10, 11);
}

/* small tweaks */
section { scroll-margin-top: 70px; padding-top: 80px;
  padding-bottom: 80px;}
.card-img-top { height: 170px; object-fit: cover; }
.progress { height: 18px; }
.progress-bar { line-height: 18px; }